<nav class="mb-4">
    <ol class="breadcrumb" style="background-color: #eed4e7;">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Pendentes
        </li>
    </ol>
</nav>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Pendentes
        </h1>    
    </div>
    <div class="col">
        <a routerLink="new" class="btn btn-success float-right"> + Novo Pedido</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome Revendedora</th>
        <th scope="col">Descrição</th>
        <th scope="col">Cor</th>
        <th scope="col">Criação</th>
        <th scope="col">Modificação</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pendency of pendencies">
        <td>{{pendency.id}}</td>
        <td>{{pendency.nome}}</td>
        <td>{{pendency.descricao}}</td>
        <td>{{pendency.cordobanho}}</td>
        <td>{{pendency.created | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{pendency.modified | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{pendency.status ? "ENTREGUE" : "PENDENTE"}}</td>
        <td>
            <a [routerLink]="[pendency.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
            <button (click)="deletePendency(pendency)" class="btn btn-outline-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>